
:root {
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  line-height: 24px;


  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: auto;
  display: grid;
  place-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161616;
  height: 100vh;

}


.logo{
  margin-left: 2rem;
  margin-top: 3rem;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.starShipName{
font-family: 'Jura';
font-weight:700;
cursor: pointer;
}

.starShipModel{
  font-family: 'Jura';
  font-weight: 300;
  margin-left: 1rem;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.loader {
  width: 10em;
  height: 10em;
  font-size: 25px;
  box-sizing: border-box;
  border-top: 0.3em solid white;
  border-radius: 50%;
  position: relative;
  animation: rotating 2s ease-in-out infinite;
  --direction: 1;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  top: -0.2em;
}

.loader::before {
  border-top: 0.3em solid white;
  transform: rotate(120deg);
}

.loader::after {
  border-top: 0.3em solid white;
  transform: rotate(240deg);
}

.loader span {
  position: absolute;
  color: white;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 10em;
  font-family: sans-serif;
  animation: rotating 2s linear infinite;
  --direction: -1;
}

@keyframes rotating {
  50% {
      transform: rotate(calc(180deg * var(--direction)));
  }

  100% {
      transform: rotate(calc(360deg * var(--direction)));
  }
}

